nav {
    background-color:cadetblue;
    height: 50px;
    width: 75%;
    text-align:center;

}
nav a {
    display: inline-block;
    height: 100%;
    padding: 15px;
}
div {
    color: navy;
    margin-left: 20px;
}

a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}