<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1.0" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Home" asp-action="Change">Create Post</a>
        </div>
        <div>
            @RenderBody()
        </div>


    </nav>
</body>
</html>
