a {
    color:White;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
nav {
    background-color:darkslateblue;
    height:50px;
    width: 100%;
    text-align: center;
}
nav a {
    display: inline-block;
    height: 100%;
    padding: 15px;
}
.title {
    position:absolute;
    left:25px;
    top:0px;
    color:springgreen;
}
li {
    color:black;
    position:relative;
    list-style-type:none;
}
a.ViewClass {
    color:cornflowerblue;
}
a.EditClass {
    color:darkseagreen;
}
a.RemoveClass {
    color:  orangered;
}